@model FusionTable

<h2>@Model.RaceName Stats</h2>
<table class="table">
    <tr>
        <th>Avatar</th>
        <th>Avian</th>
        <th>Beast</th>
        <th>Brute</th>
        <th>Deity</th>
        <th>Devil</th>
        <th>Divine</th>
        <th>Dragon</th>
        <th>Drake</th>
        <th>Element</th>
        <th>Enigma</th>
        <th>Fairy</th>
        <th>Fallen</th>
        <th>Femme</th>
        <th>Fiend</th>
        <th>Foul</th>
        <th>Fury</th>
        <th>Genma</th>
        <th>Haunt</th>
        <th>Herald</th>
        <th>Holy</th>
        <th>Jaki</th>
        <th>Jirae</th>
        <th>Kishin</th>
        <th>Kunitsu</th>
        <th>Lady</th>
        <th>Megami</th>
        <th>Night</th>
        <th>Primal</th>
        <th>Qadishtu</th>
        <th>Raptor</th>
        <th>Snake</th>
        <th>Tyrant</th>
        <th>UMA</th>
        <th>Vile</th>
        <th>Wargod</th>
        <th>Wilder</th>
        <th>Yoma</th>
    </tr>
    <tr>
        <td>@Model.Avatar</td>
        <td>@Model.Avian</td>
        <td>@Model.Beast</td>
        <td>@Model.Brute</td>
        <td>@Model.Deity</td>
        <td>@Model.Devil</td>
        <td>@Model.Divine</td>
        <td>@Model.Dragon</td>
        <td>@Model.Drake</td>
        <td>@Model.Element</td>
        <td>@Model.Enigma</td>
        <td>@Model.Fairy</td>
        <td>@Model.Fallen</td>
        <td>@Model.Femme</td>
        <td>@Model.Fiend</td>
        <td>@Model.Foul</td>
        <td>@Model.Fury</td>
        <td>@Model.Genma</td>
        <td>@Model.Haunt</td>
        <td>@Model.Herald</td>
        <td>@Model.Holy</td>
        <td>@Model.Jaki</td>
        <td>@Model.Jirae</td>
        <td>@Model.Kishin</td>
        <td>@Model.Kunitsu</td>
        <td>@Model.Lady</td>
        <td>@Model.Megami</td>
        <td>@Model.Night</td>
        <td>@Model.Primal</td>
        <td>@Model.Qadishtu</td>
        <td>@Model.Raptor</td>
        <td>@Model.Snake</td>
        <td>@Model.Tyrant</td>
        <td>@Model.UMA</td>
        <td>@Model.Vile</td>
        <td>@Model.Wargod</td>
        <td>@Model.Wilder</td>
        <td>@Model.Yoma</td>
    </tr>
</table>

